html,
body {
    height: 100%;
}

body {
    max-width: 800px;
    padding: 10px;
}

header {
    background-color: floralwhite;
    padding: 1%;
}

footer {
    margin: inherit;
    bottom: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    font-family: cursive;
}

.header-title {
    font-weight: bold;
    font-size: x-large;
    display: inline-block;
    vertical-align: middle;
}

.header-nav {
    float: right;
    display: inline-block;
    vertical-align: middle;
}

.header-nav a {
    padding-left: 8px;
}

/*nav*/

.main-nav ul {
    display: block;
    background-color: beige;
    list-style: none;
    padding: 1%;
}

.main-nav ul li {
    display: inline-block;
    text-transform: capitalize;
    margin: 4px;
}

#inputTip {
    color: red;
    font-style: italic;
    float: right;
    font-weight: bold;
}

#resultTip {
    color: limegreen;
    float: right;
    font-weight: bold;
    font-style: italic;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    align-content: center;
    vertical-align: baseline;
}

.auto-scale {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

mark {
    font-style: italic;
    font-weight: bold;
    background-color: inherit;
}

.form-hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left: 8px;
    padding: 1px 6px;
    z-index: 999;
    position: absolute;
    display: none;
    max-width: 30%;
}

.form-hint::before {
    content: "\25C0"; /* left point triangle in escaped unicode */
    color: #d45252;
    position: absolute;
    top: 1px;
    left: -6px;
}

form input:focus + .form-hint {
    display: inline;
}

form input:required:valid + .form-hint {
    background: #28921f;
}

/* change form hint color when valid */
form input:required:valid + .form-hint::before {
    color: #28921f;
}

/* change form hint arrow color when valid */

form label {
    display: inline-block;
    width: 180px;
}

form input {
    height: 20px;
    width: 220px;
    padding: 5px 8px;
    vertical-align: middle;
}

input[type="radio"] {
    width: 18px;
    height: 18px;
    margin: -4px 3px 0 0;
}

input[type="checkbox"] {
    width: inherit;
    height: 18px;
    margin-left: 184px;
}

.radio-label {
    width: 100px;
}

form textarea {
    padding: 8px;
    width: 300px;
}

form button {
    margin-left: 156px;
}

form input, form textarea {
    border: 1px solid #aaa;
    /*box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;*/
    border-radius: 2px;
}

form input:focus, form textarea:focus {
    background: #fff;
    /*border: 1px solid #555;*/
    box-shadow: 0 0 3px #aaa;
    padding-right: 16px;
    transition: padding .20s;
}

input:required, textarea:required {
    background: #fff url(../img/star.png) no-repeat 98% center;
}

form input:focus:invalid, form textarea:focus:invalid {
    background: #fff url(../img/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

form input:required:valid, form textarea:required:valid {
    background: #fff url(../img/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

form select, .wide-select {
    height: 30px;
    width: 116px;
}

.wide-select {
    width: 236px;
}

fieldset {
    margin: 10px auto;
}